* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, sans-serif;
    background-color: white;
}

.side-panel-conatiner {
    min-height: 100vh;
    width: 50%;
    padding: 15px;
    text-align: center;
    border: #f3f3f3;
    border-radius: 1px;
}

.todo-container {
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notes-container {

}

h1 {
    color: #333;
    margin-bottom: 10px;
}

#todo-form {
    display: flex;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #F8F8F8;
    outline: none;
}

.check-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.check-list-header {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.count {
    color: grey;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.todo-list {
    list-style-type: none;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

.todo-list li {
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list li:hover {
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.selected {
    background-color: #f3f3f3;
}

.todo-list li.selected:hover {
    background-color: #f3f3f3; 
    cursor: pointer
}

.todo-list li .delete-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-list li .delete-btn:hover {
    background-color: #c82333;
}

#complete-list {
    color: grey;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px
}