* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, sans-serif;
    background-color: white;
}

.side-panel-conatiner {
    min-height: 100vh;
    width: 50%;
    padding: 15px;
    text-align: center;
    border: #f3f3f3;
    border-radius: 1px;
    text-align: start;
}

#todo-container {
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#notes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

#todo-form {
    display: flex;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #F8F8F8;
    outline: none;
}

.check-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.check-list-header {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.count {
    color: grey;
}

.todo-list {
    list-style-type: none;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

.todo-list li {
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.todo-list li:hover {
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.selected {
    background-color: #f3f3f3;
}

.todo-list li.selected:hover {
    background-color: #f3f3f3; 
    cursor: pointer
}

.todo-list li .delete-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-list li .delete-btn:hover {
    background-color: #c82333;
}

#complete-list {
    color: grey;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px
}

.note {
    flex: 1;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
}

#date-time {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

#detail-notes {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #f3f3f3;
    border-bottom-style: solid;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.close-button {
    background-color: #dc3545; 
    color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c82333;
} 

@media (max-width: 768px) {
    .side-panel-conatiner {
        width: 100%;
    }

    #notes-container {
        display: none;
    }
}